; This is the configuration file for the site


[DB_Configuration]
dbusername = username
dbpassword = password
dbdatabase = dbname
dbserver   = localhost

[Operation_Configuration]
site_title = Finance
client_image_directory = site/clients/;
